/* reset */
* {
  margin: 0px;
  padding: 0px;
}
body{
  height: 100vh;
}
/* reset end */
/* scenario */
.scenario {
  background-image: url("../img/background.png");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  max-width: 100%;
}
/* scenario end */

/* mario bros logo */
.mario-logo {
  background-color: #c26f05;
  width: 25rem;
  height: 30vh;
  
 margin: 0px auto;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}
.mario-logo >h1{
  font-family: "Super Mario Bros Alphabet", sans-serif;
  color: #ffd6b2;
  font-weight: bold;
  font-size: 100px;
  letter-spacing:0.5rem;
text-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
/* mario bros logo end */
}
#copyright{
   

  position:absolute;
  right:35%;
  color: #ffd6b2;
  font-weight: 900;
  font-size: 20px;  

}

/* mario */
img#mario-char{
  position: absolute;
  top: 78%;
  left: 35%;
  width: 3rem;
  height: 3rem;
  
  background-size: contain;
  background-repeat: no-repeat;
  
}
/* mario fim */
/* score */
.score{
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content:space-around;
  color:white;
  padding:0px 425px;
}
#score-player{
  text-transform: uppercase;
}
#coin-icon{
  font-size: 1.5rem;
  font-weight: #020101;
}	
/* score ends */
/* press start */
.press_start{
  position:relative;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #ffd6b2;
  margin-top: 50px;;
 
}
.press_start > ul >li>a{
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  margin: 0px;
  text-decoration: none;
  padding: 0px;
  color: #ffd6b2;
}
.press_start > ul >li>a:hover{
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  margin: 0px;
  text-decoration: none;
  padding: 0px;
  list-style-image: url(../img/mario-icon.png);
  
}

.press_start > ul >li>a:hover::before{
content: url('../img/mushroom-icon.png');
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
  


/* press start fim */